/* Customs styles */


/* Custom container for full width */
.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/* The loading wheel */
.signal {
	border: 5px solid #333;
	border-radius: 30px;
	height: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 30px;
	z-index: 9999;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

/* colorbox for text & images */
.textbox{
	/* background: pink; */

}

.arrowBox {
	width: 30%;
	display: inline-block;

}



/* keep aspect ratio */
.mapClass {
	width: 100vw; 
	height: 40vw; /* 100/56.25 = 1.778 */
	background: pink;
	max-height: 100vh;
	max-width: 200vh; /* 16/9 = 1.778 */
	margin: auto;
	position: absolute;
	/*top:0;bottom:0; /* vertical center */
	left:0;right:0; /* horizontal center */
}

/* Information boxes within the map */
.infoBox {
	top: 0;
	position: absolute;
	padding-left: 10px;
	height: 8%;
	z-index: 3; /* above the map */
	background-color: rgba(100, 100, 100, 0.8);
	color: white;
}

.infoBoxContent {
	/*
	margin-left: auto;
	margin-right: auto; */
	text-align: center;
}

.infoBoxCaption {
	text-align: center;
}

#dateBox 
{	right: 0;
	height:20px;
	width:50%;
	font-size: 0.9em;
	margin-top: 5px;
	margin-right: 5px;
}

#fwdbwd 
{	left: 0;
	height:20px;
	width:25%;
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 5px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#dateBox {
		width: 50%;
		height: 30px;
		font-size: 1.3em;
	}

	#fwdbwd {
		height: 30px;
		font-size: 1.3em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
		#dateBox {
		width: 45%;
		height: 30px;
		font-size: 1.55em;
	}

	#fwdbwd {
		height: 30px;
		font-size: 1.55em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#dateBox {
		width: 45%;
		height: 38px;
		font-size: 1.8em;
	}

	#fwdbwd {
		height: 38px;
		font-size: 1.8em;
	}

}




