/* Customs styles */


/* Custom container for full width */
.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/* The loading wheel */
/*
.signal {
	border: 5px solid #333;
	border-radius: 20px;
	height: 30px;
	width: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	position: absolute;
	pointer-events: none;
	top: 50%;
	z-index: 9999;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	visibility: hidden;
}

@keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
*/


/* colorbox for text & images */
.textbox{
	/* background: pink; */

}

.arrowBox {
	width: 30%;
	display: inline-block;

}



/* keep aspect ratio */
.mapClass {
	width: 100vw; 
	height: 40vw; /* 100/56.25 = 1.778 */
	background: pink;
	max-height: 100vh; 
	max-width: 200vh; /* 16/9 = 1.778 */
	margin: auto;
	position: absolute;
	/*top:0;bottom:0; /* vertical center */
	left:0;right:0; /* horizontal center */
}

/* Information boxes within the map */
.infoBox {
	position: absolute;
	padding-left: 10px;
	z-index: 3; /* above the map */
	background-color: rgba(100, 100, 100, 0.8);
	color: white;
}

#warningBox{
	bottom: 0;
	width: 100%;
	height: 25px;
	background-color: rgba(234, 44, 12, 0.8);
	text-align: center;
	font-size: 17px;
	display: none;
}

.infoBox > a {
	color: white;
}

.infoBoxPopUp {
	text-align: center;
}

.infoBoxCaption {
	text-align: center;
}


#dateBox 
{	top: 0;
	right: 0;
	height:20px;
	width:50%;
	font-size: 0.9em;
	margin-top: 5px;
	margin-right: 5px;
}

#fwdbwd 
{	
	top: 0;
	left: 0;
	height:20px;
	width:25%;
	font-size: 0.9em;
	margin-top: 5px;
	margin-left: 5px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#dateBox {
		width: 50%;
		height: 30px;
		font-size: 1.3em;
	}

	#fwdbwd {
		height: 30px;
		font-size: 1.3em;
	}

	#warningBox {
		height: 27px;
		font-size: 1.25em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
		#dateBox {
		width: 45%;
		height: 30px;
		font-size: 1.55em;
	}

	#fwdbwd {
		height: 30px;
		font-size: 1.55em;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#dateBox {
		width: 45%;
		height: 38px;
		font-size: 1.8em;
	}

	#fwdbwd {
		height: 38px;
		font-size: 1.8em;
	}

	#warningBox {
		height: 38px;
		line-height: 38px;
		font-size: 1.5em;
	}

}

/* 4K Devices */
@media (min-width: 3000px) { 

	.mapClass {
		width: 100vw; 
		height: 50vw; /* 100/56.25 = 1.778 */
		margin: auto;
		position: absolute;
		/*top:0;bottom:0; /* vertical center */
		left:0;right:0; /* horizontal center */
		}

	#warningBox {
		height: 130px;
		line-height: 130px;
		font-size: 5em;
		}
	}



/* The loading bars */
.spinner {
	position: absolute;
	top: 25%;
	left: 50%;
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  z-index: 9999;
  pointer-events: none; /* to make the loading bar unclickable */
  visibility: hidden;
  /* for IE11 */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
	background: none !important;
}

.spinner > div {
  background-color: white;
  opacity: 0.8;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}




